.bockconstanscaterories ul.nav {
    width: 100%;
    background: #fff;
}
.bockconstanscaterories ul.nav > li:not(:last-child){
    padding-left: 1rem;
    
}
/* .bockconstanscaterories ul.nav > li:first-child{
    padding-left: 1rem;
    padding-right: 0.5rem;
} */
.bockconstanscaterories ul.nav > li:hover{
    background: #f0f1f026;
}

.bockconstanscaterories ul.nav > li >.dropdown-toggle{
    justify-self: self-start;
}
.bockconstanscaterories ul.nav > li:last-child{
    margin-left: auto;
    
}
.bockconstanscaterories ul.nav .prices-drop{
    box-sizing: border-box;
    border: 1px solid #E93030;
    background: #E93030;
    color: #fff;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    transition: all 0.3s;
}
.bockconstanscaterories ul.nav  .prices-drop:hover{
    background: #fff;
    color: #E93030;
}
.bockconstanscaterories .dropdown,
.bockconstanscaterories .dropdown-submenu
{
    display: grid;
    grid-template-columns: 1fr 25px;
    position: relative;
    
}

.bockconstanscaterories .dropdown > *,
.bockconstanscaterories .dropdown-submenu > *{
   
    align-self: center;
}
.bockconstanscaterories  .dropdown-toggle{
    justify-self: center;
    cursor: pointer;
 color: #000;
}
.bockconstanscaterories .dropdown-menu.show .dropdown-menu.show{
    margin-top: unset;
    left: 100%;
    top: -1px;
}
.bockconstanscaterories .dropdown-menu {
    min-width: 200px;
    top: 97%;
  }

.bockconstanscaterories .dropdown-toggle::after{
   content: unset;
}
.bockconstanscaterories .dropdown-toggle::before{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotateZ(45deg);
    position: relative;
    top: -2px;
 }
 .bockconstanscaterories .dropdown-toggle[aria-expanded="true"]::before{
    transform: rotateZ(225deg);
    top: 2px;
}
.bockconstanscaterories .dropdown-submenu .dropdown-toggle::before{
    transform: rotateZ(-45deg);
}
.bootstrap #BLOCKTOPMENUCONSTANS_BESTSELLERS_CATEGORY{
    width: 100px;
}

@media screen and (max-width:991px){
    
    .bockconstanscaterories ul.nav > li:not(:first-child) .dropdown-menu > li {
        padding-left: unset;
    }
    .bockconstanscaterories .dropdown-submenu .dropdown-toggle {
        justify-self: self-start;
    }
    .bockconstanscaterories .dropdown-submenu .dropdown-toggle::before {
        transform: rotateZ(45deg);
    }
    .bockconstanscaterories ul.nav {
        width: 50%;
        background: transparent;
        margin-right: auto;
    }
    .bockconstanscaterories ul.nav > li{
        margin-left: unset;
    }
    .bockconstanscaterories ul.nav > li:last-child{
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .bockconstanscaterories .dropdown-menu.show {
        grid-column: 1/3;
        width: calc(100% - 1rem);
       border: unset;
       background: transparent;
        margin-left: 1rem;
    }
    .bockconstanscaterories .dropdown-toggle.active::before,
    .bockconstanscaterories .dropdown-submenu .dropdown-toggle.active::before{
        transform: rotateZ(225deg);
        border-color: #E93030;
    }
    .bockconstanscaterories .dropdown-toggle[aria-expanded="true"]::before{
        border-color: #E93030;
    }
}
@media screen and (max-width:600px){
    .bockconstanscaterories ul.nav {
        width: 100%;
    }
     nav.bockconstanscaterories{
        max-width: 339px;
        padding: unset;
        margin-left: auto;
        margin-right: auto;
    }
    }
    @media screen and (max-width: 850px) and (orientation: landscape){
        .bockconstanscaterories ul.nav {
            width: 100%;
        }
         nav.bockconstanscaterories{
            max-width: 339px;
            padding: unset;
            margin-left: auto;
            margin-right: auto;
        }
        }
        @media (min-width: 992px){
            .bockconstanscaterories .dropdown-menu > li,
            .bockconstanscaterories .dropdown-submenu > li {
                padding-left: 1rem;
            }
            .bockconstanscaterories ul.nav > li:not(:first-child) .dropdown-menu > li {
                padding-left: 0.5rem;
            }
            .bockconstanscaterories .discount{
                padding-right: 1rem;
            }
        }